<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.publicislondon.plugins.conversationchecker" version="0.0.1">
    <name>ConversationChecker</name>
    <description>ConversationChecker Plugin</description>
    <license>Apache 2.0</license>
    <keywords>conversationchecker</keywords>

    <js-module src="www/conversationchecker.js" name="conversationchecker">
        <clobbers target="conversationchecker" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ConversationChecker" >
                <param name="android-package" value="com.publicislondon.plugins.conversationchecker.ConversationChecker"/>
            </feature>
        </config-file>
        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="ConversationChecker" value="com.publicislondon.plugins.conversationchecker.ConversationChecker"/>
        </config-file>

        <source-file src="src/android/ConversationChecker.java" target-dir="src/com/publicislondon/plugins/conversationchecker" />
    </platform>
</plugin>