<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.publicislondon.plugins.conversationchecker" version="0.0.1">
    <name>ConversationChecker</name>
    <description>ConversationChecker Plugin</description>
    <license>Apache 2.0</license>
    <keywords>conversationchecker</keywords>

    <js-module src="www/conversationchecker.js" name="conversationchecker">
        <clobbers target="conversationchecker" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- config.xml updates -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ConversationChecker" >
                <param name="android-package" value="com.publicislondon.plugins.conversationchecker.ConversationChecker"/>
            </feature>
        </config-file>

        <!-- manifest updates -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="src/com/publicislondon/plugins/conversationchecker.services.ConversationCheckerLocalService"
                     android:label="conversationcheckerlocalservice" />
        </config-file>

        <!-- Java files -->
        <source-file src="src/android/ConversationChecker.java" target-dir="src/com/publicislondon/plugins/conversationchecker" />
        <source-file src="src/android/receivers/CallReceiver.java" target-dir="src/com/publicislondon/plugins/conversationchecker/receivers" />
        <source-file src="src/android/receivers/ScreenReceiver.java" target-dir="src/com/publicislondon/plugins/conversationchecker/receivers" />
        <source-file src="src/android/services/ConversationCheckerLocalService.java" target-dir="src/com/publicislondon/plugins/conversationchecker/services" />
    </platform>
</plugin>
