<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.publicislondon.plugins.conversationchecker" version="0.0.1">
    <name>ConversationChecker</name>
    <description>ConversationChecker Plugin</description>
    <license>Apache 2.0</license>
    <keywords>conversationchecker</keywords>

    <js-module src="www/conversationchecker.js" name="conversationchecker">
        <clobbers target="conversationchecker" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- config.xml updates -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ConversationChecker" >
                <param name="android-package" value="com.publicislondon.plugins.conversationchecker.ConversationChecker"/>
            </feature>
        </config-file>

        <!-- manifest updates -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.publicislondon.plugins.conversationchecker.services.ConversationCheckerLocalService"
                     android:label="conversationcheckerlocalservice" />
        </config-file>

        <!-- Java files -->
        <source-file src="src/android/ConversationChecker.java" target-dir="src/com/publicislondon/plugins/conversationchecker" />
        <source-file src="src/android/receivers/CallReceiver.java" target-dir="src/com/publicislondon/plugins/conversationchecker/receivers" />
        <source-file src="src/android/receivers/ScreenReceiver.java" target-dir="src/com/publicislondon/plugins/conversationchecker/receivers" />
        <source-file src="src/android/services/ConversationCheckerLocalService.java" target-dir="src/com/publicislondon/plugins/conversationchecker/services" />

        <!-- strings to add to R.string resource -->
        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="conversation_checker_service_label"></string>
            <string name="local_service_started">Local Service Started</string>
            <string name="local_service_stopped">Stopping Conversation Service</string>
            <string name="local_service_label">First one to touch their phone loses!</string>
            <string name="local_service_connected">The service connected</string>
            <string name="local_service_disconnected">The service disconnected</string>
            <string name="user_closed_app_toast">The user changed apps.</string>
            <string name="user_closed_app_notify">I\'m rubbish at leaving my phone alone.</string>
        </config-file>
    </platform>
</plugin>
